<!-- extends layout html page-->
{% extends "layout.html" %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{ category}}">
    <p>{{msg}}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--block content from html page -->
{% block content %}
<form class="form-group" action="{{ url_for('create_todolist') }}" method='POST'>
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.todo.label(class="form-control-label") }}
            {{ form.todo(class="form-control", placeholder="To Do") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </fieldset>
</form>
{% endblock content %}